<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
        <add name="conn" connectionString="Server=b0101daf-c1ea-4d23-be7c-a34e00610b6d.sqlserver.sequelizer.com;Database=dbb0101dafc1ea4d23be7ca34e00610b6d;User ID=dgwbgnzcbbtzhjzt;Password=LfzNtLS6ZDTZUcgj5MDKtDYWwUK64XCvzxYu7dWDC5kTUdrb7JaNZsAgpLrFaUcb;"/>
    </connectionStrings>
</configuration>
